.advantages__item {
  text-align: center;
  margin-bottom: 30px;
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.advantages__description {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    text-align: left;
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    background-color: transparent;
  }

  .advantages__item {
    width: 240px;
    background-image: url("/../../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 355px;
    background-size: 292px 302px;
    z-index: 10;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .advantages__item {
      background-image: url("/../../img/iphone-screen-3-desktop@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 292px 302px;
    }
  }

  .advantages__item--pink {
    background-image: url("/../../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 292px 302px;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .advantages__item--pink {
      background-image: url("/../../img/iphone-screen-2-desktop@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 292px 302px;
    }
  }

  .advantages__item--blackwhite {
    background-image: url("/../../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .advantages__item--blackwhite {
      background-image: url("/../../img/iphone-screen-1-desktop@2x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: 292px 302px;
    }
  }

  .advantages__title {
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
