.competition__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.competition__label {
  color: #d22856;
  text-transform: uppercase;
}

.competition__legend {
  color: #d22856;
  text-transform: uppercase;
  line-height: 18px;
}

.competition__legend--hidden {
  display: none;
}

.competition__label-checkbox,
.competition__label-radio {
  font-size: 18px;
}

.competition__legend-textarea {
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  font-size: 14px;
}

.competition__send-form {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
}

.competition__required {
  line-height: 30px;
  text-transform: uppercase;
}

.competition__required-star {
  color: #d22856;
}

.competition__fieldset {
  border: none;
}

.competition__fieldset--achievments,
.competition__fieldset--app {
  background-color: @gray;
}

@media (min-width: @tablet-width) {
  .competition {
    display: flex;
    flex-direction: column;
  }

  .competition__legend--hidden {
    display: block;
  }

  .competition__fieldset--app {
    order: -4;
    background-color: #ffffff;
  }

  .competition__fieldset--achievments {
    background-color: #ffffff;
  }

  .competition__fieldset--contacts {
    order: -3;
  }

  .competition__fieldset--name {
    order: -5;
  }
}

@media (min-width: @desktop-width) {
  .competition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .competition__fieldset {
    width: 100%;
  }

  .competition__fieldset--name,
  .competition__fieldset--app {
    width: 450px;
  }
}
