.download-app {
  padding: 28px 20px 34px;
  text-align: center;
  color: #ffffff;
  background-color: #1d2631;
}

.download-app__link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700px;
  color: #ffffff;
  text-decoration: none;
}

.download-app__list {
  list-style: none;
}

.download-app__item--apple {
  background-image: url("/../../img/logo-apple.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.download-app__item--android {
  background-image: url("/../../img/logo-android.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.download-app__item--windows {
  background-image: url("/../../img/logo-microsoft.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
