.index-footer {
  background-color: #ffffff;
  padding-top: 46px;
}

.index-footer__contacts {
  background-color: #ffffff;
  position: relative;
  z-index: 10;
}

.index-footer__wrapper {
  background-color: #ffffff;
}

.index-footer__hidden {
  display: none;
}

.index-footer__map {
  position: absolute;
  bottom: -200px;
  z-index: -1;
  overflow: hidden;
  height: 200px;
}

@media (min-width: @tablet-width) {
  .index-footer__hidden {
    display: flex;
    justify-content: space-between;
  }

  .index-footer__map {
    position: static;
    height: 375px;
  }
}

@media (min-width: @desktop-width) {
  .index-footer__map {
    height: 505px;
  }
}
