.info__ask {
  font-size: 24px;
  font-weight: 100;
}

.info__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.info__item {
  width: 280px;
}

.info__title {
  font-weight: 700;
  font-size: 18px;
}

.info__contacts {
  color: #d22856;
  font-size: 24px;
}

@media (min-width: @tablet-width) {
  .info__list {
    flex-direction: row;
  }

  .info__item {
    width: 320px;
  }
}
