.list-hover {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list-hover__item-link {
  display: block;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 14px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  background-color: transparent;

  &[href]:hover,
  &[href]:focus {
    color: @pink;
  }

  &:active {
    color: @pink;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .list-hover {
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .list-hover__item-link {
    border: none;
    font-weight: 400;
    text-transform: none;
    line-height: 18px;
  }

  .list-hover__item--active {
    border-bottom: 2px solid #ffffff;
  }
}
