.main-nav {
  position: relative;
}

.main-nav__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #283645;
}

.main-nav__logo-wrapper {
  background-color: #283645;
  padding-top: 21px;
  padding-bottom: 23px;
  padding-left: 20px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
}

.main-nav__logo {
  display: block;
  height: 23px;
  width: 75px;
}

.main-nav__svg--tablet,
.main-nav__svg--desktop {
  display: none;
}

.main-nav__svg--mobile {
  display: block;
  width: 75px;
  height: 23px;
  fill: #ffffff;
}

.main-nav__logo[href]:hover .main-nav__svg--mobile,
.main-nav__logo[href]:focus .main-nav__svg--mobile {
  fill: @pink;
}

.main-nav__logo[href]:active .main-nav__svg--mobile {
  opacity: 0.3;
}


.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 90px;
  height: 69px;
  cursor: pointer;
  background-color: #283645;
  border: none;
  border-bottom: 1px solid #000000;
}

.main-nav__wrapper--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 20px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.main-nav__wrapper--closed .main-nav__toggle:hover::before {
    background-color: @pink;
    box-shadow: 0 10px 0 0 @pink, 0 20px 0 0 @pink;
  }

.main-nav__wrapper--closed .main-nav__toggle:active::before {
    background-color: @pink;
    opacity: 0.3;
  }


.main-nav__wrapper--opened .main-nav__toggle::before,
.main-nav__wrapper--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 16px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
}

.main-nav__wrapper--opened .main-nav__toggle:hover::before,
.main-nav__wrapper--opened .main-nav__toggle:focus::before,
.main-nav__wrapper--opened .main-nav__toggle:hover::after,
.main-nav__wrapper--opened .main-nav__toggle:focus::after {
    background-color: @pink;
  }

.main-nav__wrapper--opened .main-nav__toggle:active::before,
.main-nav__wrapper--opened .main-nav__toggle:active::after {
    background-color: @pink;
    opacity: 0.3;
  }

.main-nav__wrapper--opened .main-nav__toggle::before {
  transform: rotate(-45deg);
}

.main-nav__wrapper--opened .main-nav__toggle::after {
  transform: rotate(45deg);
}

.main-nav__wrapper--nojs .main-nav__toggle {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__logo {
    height: 41px;
    width: 150px;
  }

  .main-nav__wrapper {
    width: 100%;
  }

  .main-nav__logo-wrapper {
    padding-top: 26px;
    padding-bottom: 42px;
  }

  .main-nav__toggle {
    height: 110px;
    border-bottom: none;
  }

  .main-nav__svg--mobile {
    display: none;
  }

  .main-nav__svg--tablet {
    display: block;
    width: 150px;
    height: 41px;
    fill: #ffffff;
  }

  .main-nav__wrapper--closed .main-nav__toggle::before {
    top: 44px;
  }

  .main-nav__wrapper--opened .main-nav__toggle::before,
  .main-nav__wrapper--opened .main-nav__toggle::after {
    top: 55px;
  }

  .main-nav__logo[href]:hover .main-nav__svg--tablet,
  .main-nav__logo[href]:focus .main-nav__svg--tablet {
    fill: @pink;
  }

  .main-nav__logo[href]:active .main-nav__svg--tablet {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .main-nav__logo-wrapper {
    background-color: transparent;
    width: 150px;
    margin: 0;
    border: none;
    padding-left: 0;
  }

  .main-nav__wrapper {
    background-color: transparent;
    width: 620px;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__svg--mobile,
  .main-nav__svg--tablet {
    display: none;
  }

  .main-nav__svg--desktop {
    display: block;
    width: 150px;
    height: 41px;
    fill: #ffffff;
  }

  .main-nav__logo[href]:hover .main-nav__svg--desktop,
  .main-nav__logo[href]:focus .main-nav__svg--desktop {
    fill: @pink;
  }

  .main-nav__logo[href]:active .main-nav__svg--desktop {
    opacity: 0.3;
  }
}

@media (max-width: @mobile-tablet-width-only) {
  .main-nav__wrapper--closed .list-hover {
    display: none;
  }
}
