.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.page-footer__copyright {
  line-height: 18px;
  margin: 0;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer-copyright__link {
  display: block;
  width: 27px;
  height: 34px;

  svg {
    fill: @pink;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 36px;
  }

  .page-footer__link {
    margin-right: 75px;
  }

  .page-footer__social-list {
    margin-right: 95px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__copyright {
    font-size: 18px;
  }
}

@media (max-width: @mobile-only) {
  .page-footer {
    align-items: center;
  }

  .page-footer__link,
  .page-footer__social-list {
    margin-bottom: 40px;
  }
}
