.page-header {
  background-image: url("/../../img/bg-back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #1d2631;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.page-header__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  line-height: 30px;
}

.page-header__title-form {
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  line-height: 30px;
}


@media (min-width: @tablet-width) {
  .page-header {
    background-image: url("/../../img/bg-back-tablet@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    padding-bottom: 145px;
    margin-bottom: 100px;
  }

  .page-header__title {
    font-size: 50px;
    line-height: 60px;
  }

  .page-header__title-form {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("/../../img/bg-back-desktop@1x.jpg");
    background-position: 50% -20%;
    background-repeat: no-repeat;
  }

  .page-header__title {
    padding-left: 285px;
    padding-right: 285px;
  }

  .page-header__title-form {
    padding-left: 95px;
    padding-right: 95px;
  }
}
