.photo {
  .photo__author {
    font-weight: 700;
  }
  .photo__time {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
  }
  .photo__like-count {
    color: #d22856;
    font-size: 12px;
    text-transform: uppercase;
  }
}
