.photo-catalog {
  padding-top: 52px;
}

.photo-catalog__slogan {
  line-height: 30px;
}

.photo-catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-catalog__item {
  width: 280px;

  &:first-child {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .photo-catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo-catalog__item {
    width: 300px;
  }
}
