.photo__author {
  font-weight: 700;
  margin: 0;
}

.photo__time {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}

.photo__like-count {
  color: #d22856;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 24px;
}

.photo__text-wrapper {
  background-color: @gray;
  padding: 10px 20px 20px 19px;
}

.photo__description {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

.photo__like {
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  margin-right: 15px;
}

.photo__svg-like {
  fill: @pink;
}

.photo__like-wrapper {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .photo__text-wrapper {
    position: relative;
    padding: 17px 18px 22px 27px;
    box-sizing: border-box;
    min-height: 40px;
  }

  .photo--full {
    width: auto;
    max-width: 700px;
    position: relative;
    overflow: hidden;

    .photo__like-wrapper {
      position: absolute;
      top: 25px;
      right: 15px;
      display: flex;
      flex-direction: row-reverse;
      width: 135px;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .photo__like {
      margin-left: 10px;
    }

    .photo__description {
      min-height: auto;
    }

    .photo__text-wrapper {
      padding: 25px 20px 9px 27px;
    }
  }

  .photo__description {
    min-height: 48px;
    padding-bottom: 12px;
    margin-bottom: 0;
  }

  .photo__like-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

@media (min-width: @desktop-width) {
  .photo--full {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .photo__description {
      min-height: auto;
    }

    .photo__text-wrapper {
      padding: 25px 20px 9px 27px;
      width: 940px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
