.price {
  padding: 68px 20px 100px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  .price__th {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    background-color: #283645;
  }
  .price__value {
    font-weight: 100;
    line-height: 30px;
    font-size: 24px;
  }
  .price__point {
    line-height: 30px;
    background-color: #ffffff;
  }
  .price__td {
    background-color: #ffffff;
    line-height: 30px;
  }
}
