.social {
  list-style: none;
  .social__button--twitter {
    background-image: url("/../../img/icon-twitter.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .social__button--facebook {
    background-image: url("/../../img/icon-facebook.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .social__button--youtube {
    background-image: url("/../../img/icon-youtube.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}
