.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.social__button a {
  display: flex;
  border: 3px solid @gray;
  border-radius: 50%;
  width: 45px;
  height: 45px;

  &:hover,
  &:focus {
    border-color: #283645;
  }

  &:active {
    border-color: #283645;
    opacity: 0.3;
  }
}

.social__button--twitter-svg,
.social__button--youtube-svg,
.social__button--facebook-svg {
    fill: @pink;
    display: block;
    margin: auto;
}
