.tools {
  list-style: none;
}

.tools__item--cropp {
  background-image: url("/../../img/icon-editor-crop.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.tools__item--fill {
  background-image: url("/../../img/icon-editor-fill.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.tools__item--contrast {
  background-image: url("/../../img/icon-editor-contrast.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
